In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
record=pd.read_csv('../data/food_record.csv')
score=pd.read_csv('../data/food_store.csv')

In [7]:
origin_data=pd.merge(left=record,right=score,on=['店铺ID','店铺名'])

In [8]:
origin_data.head()

,店铺ID,店铺名,开始时间,风险值,地区名,月售
0,3d8ab846-7725-11ea-98c9-525400c74cae,1+7水饺店(金科世界城店),2019-01-01,0.147242,滨湖区,627
1,3d8ab846-7725-11ea-98c9-525400c74cae,1+7水饺店(金科世界城店),2019-02-01,0.187812,滨湖区,627
2,3d8ab846-7725-11ea-98c9-525400c74cae,1+7水饺店(金科世界城店),2019-03-01,0.313739,滨湖区,627
3,3d8ab846-7725-11ea-98c9-525400c74cae,1+7水饺店(金科世界城店),2019-04-01,0.462676,滨湖区,627
4,3d8ab846-7725-11ea-98c9-525400c74cae,1+7水饺店(金科世界城店),2019-05-01,0.523725,滨湖区,627

In [19]:
data=data.drop(['店铺名','店铺ID'],axis=1)
data

             开始时间       风险值  地区名    月售
0      2019-01-01  0.147242  滨湖区   627
1      2019-02-01  0.187812  滨湖区   627
2      2019-03-01  0.313739  滨湖区   627
3      2019-04-01  0.462676  滨湖区   627
4      2019-05-01  0.523725  滨湖区   627
...           ...       ...  ...   ...
70938  2019-08-01  0.635473  梁溪区  1038
70939  2019-09-01  0.549814  梁溪区  1038
70940  2019-10-01  0.372998  梁溪区  1038
70941  2019-11-01  0.268777  梁溪区  1038
70942  2019-12-01  0.247738  梁溪区  1038

[70943 rows x 4 columns]

### 月售 分区间

In [20]:
sale_type={0:'low',1:'normal',2:'high',3:'perfect'}

def get_type(num):
    if num>=0 and num<=500:
        return 0
    elif num>500 and num<=1000:
        return 1
    elif num>1000 and num<=2500:
        return 2
    else:
        return 3

In [22]:
data['month_sale']=data['月售'].map(lambda x:get_type(x))

data_del=data.drop('月售',axis=1)
data_del.head()

         开始时间       风险值  地区名  month_sale
0  2019-01-01  0.147242  滨湖区           1
1  2019-02-01  0.187812  滨湖区           1
2  2019-03-01  0.313739  滨湖区           1
3  2019-04-01  0.462676  滨湖区           1
4  2019-05-01  0.523725  滨湖区           1

#### 把地区名转化为数值

In [25]:
data_del=pd.get_dummies(data_del,columns=['地区名'])

#### 新建月份列

In [27]:
data_del['month']=data_del['开始时间'].map(lambda t:int(t.split('-')[1]))

data_del.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70943 entries, 0 to 70942
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   开始时间        70943 non-null  object
 1   风险值         70943 non-null  float64
 2   month_sale  70943 non-null  int64
 3   地区名_宜兴市     70943 non-null  uint8
 4   地区名_新吴区     70943 non-null  uint8
 5   地区名_梁溪区     70943 non-null  uint8
 6   地区名_江阴市     70943 non-null  uint8
 7   地区名_滨湖区     70943 non-null  uint8
 8   地区名_锡山区     70943 non-null  uint8
 9   month       70943 non-null  int64
dtypes: float64(1), int64(2), object(1), uint8(6)
memory usage: 3.1+ MB

In [28]:
data_del=data_del.drop('开始时间',axis=1)
data_del.head()

,风险值,month_sale,地区名_宜兴市,地区名_新吴区,地区名_梁溪区,地区名_江阴市,地区名_滨湖区,地区名_锡山区,month
0,0.147242,1,0,0,0,0,1,0,1
1,0.187812,1,0,0,0,0,1,0,2
2,0.313739,1,0,0,0,0,1,0,3
3,0.462676,1,0,0,0,0,1,0,4
4,0.523725,1,0,0,0,0,1,0,5

#### 相关性分析

In [29]:
data_del.corr()

,风险值,month_sale,地区名_宜兴市,地区名_新吴区,地区名_梁溪区,地区名_江阴市,地区名_滨湖区,地区名_锡山区,month
风险值,1.000000,0.686176,-0.121067,-0.164691,0.348441,-0.132246,-0.012838,-0.135374,0.019961
month_sale,0.686176,1.000000,-0.116319,-0.151472,0.273542,-0.092086,0.005668,-0.087278,0.000032
地区名_宜兴市,-0.121067,-0.116319,1.000000,-0.120799,-0.281030,-0.144060,-0.111576,-0.070907,-0.000027
地区名_新吴区,-0.164691,-0.151472,-0.120799,1.000000,-0.345565,-0.177142,-0.137198,-0.087190,-0.000011
地区名_梁溪区,0.348441,0.273542,-0.281030,-0.345565,1.000000,-0.412105,-0.319180,-0.202840,-0.000119
地区名_江阴市,-0.132246,-0.092086,-0.144060,-0.177142,-0.412105,1.000000,-0.163617,-0.103979,0.000255
地区名_滨湖区,-0.012838,0.005668,-0.111576,-0.137198,-0.319180,-0.163617,1.000000,-0.080533,-0.000053
地区名_锡山区,-0.135374,-0.087278,-0.070907,-0.087190,-0.202840,-0.103979,-0.080533,1.000000,-0.000045
month,0.019961,0.000032,-0.000027,-0.000011,-0.000119,0.000255,-0.000053,-0.000045,1.000000

In [32]:
data_del.corr()['month_sale'].sort_values(ascending=False)

month_sale    1.000000
风险值           0.686176
地区名_梁溪区       0.273542
地区名_滨湖区       0.005668
month         0.000032
地区名_锡山区      -0.087278
地区名_江阴市      -0.092086
地区名_宜兴市      -0.116319
地区名_新吴区      -0.151472
Name: month_sale, dtype: float64

#### 归一化

In [34]:
data['月售']=(data['月售']-data['月售'].min())/(data['月售'].max()-data['月售'].min())

In [35]:
data

             开始时间       风险值  地区名        月售  month_sale
0      2019-01-01  0.147242  滨湖区  0.156188           1
1      2019-02-01  0.187812  滨湖区  0.156188           1
2      2019-03-01  0.313739  滨湖区  0.156188           1
3      2019-04-01  0.462676  滨湖区  0.156188           1
4      2019-05-01  0.523725  滨湖区  0.156188           1
...           ...       ...  ...       ...         ...
70938  2019-08-01  0.635473  梁溪区  0.258733           2
70939  2019-09-01  0.549814  梁溪区  0.258733           2
70940  2019-10-01  0.372998  梁溪区  0.258733           2
70941  2019-11-01  0.268777  梁溪区  0.258733           2
70942  2019-12-01  0.247738  梁溪区  0.258733           2

[70943 rows x 5 columns]

#### sklearn 预测

In [36]:
data_del

,风险值,month_sale,地区名_宜兴市,地区名_新吴区,地区名_梁溪区,地区名_江阴市,地区名_滨湖区,地区名_锡山区,month
0,0.147242,1,0,0,0,0,1,0,1
1,0.187812,1,0,0,0,0,1,0,2
2,0.313739,1,0,0,0,0,1,0,3
3,0.462676,1,0,0,0,0,1,0,4
4,0.523725,1,0,0,0,0,1,0,5
...,...,...,...,...,...,...,...,...,...
70938,0.635473,2,0,0,1,0,0,0,8
70939,0.549814,2,0,0,1,0,0,0,9
70940,0.372998,2,0,0,1,0,0,0,10
70941,0.268777,2,0,0,1,0,0,0,11
70942,0.247738,2,0,0,1,0,0,0,12

In [49]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [50]:
y=data_del['month_sale']

x=data_del.drop('month_sale',axis=1)

In [51]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [52]:
standarScaler = StandardScaler()
standarScaler.fit(X_train)
X_train_std = standarScaler.transform(X_train)
X_test_std = standarScaler.transform(X_test)
for i in range(10,50):
    knn_clf = KNeighborsRegressor(n_neighbors=i)
    knn_clf.fit(X_train_std,y_train)
    score = knn_clf.score(X_test_std, y_test)
    res=knn_clf.predict(X_test_std[:10])
    Y_test[:1]
    print(score,i)

0.7904511183607031 10
0.7924927147937445 11
0.793877326769096 12
0.7949084282289289 13
0.7958148117562805 14
0.7964304608810293 15
0.797167410445738 16
0.7980436206428456 17
0.7988216115755297 18
0.799166349256782 19
0.7997198445327482 20
0.8002282767290616 21
0.8002818440938909 22
0.800542923669454 23
0.8005881966725562 24
0.8008147603947772 25
0.8009649462576489 26
0.8014100529993277 27
0.801810042960295 28
0.8019615345367714 29
0.8021189785155156 30
0.802259918357926 31
0.8022811477213776 32
0.8024580484956125 33
0.8024271131961211 34
0.802446584170032 35
0.8024557328887265 36
0.802344225627918 37
0.802373272647293 38
0.8024333140124699 39
0.8025269739209911 40
0.8024297217385283 41
0.8026057664558381 42
0.8026833701012438 43
0.8026439578056614 44
0.8026773661035596 45
0.802692187191052 46
0.8027592235943973 47
0.8027873858693492 48
0.8028419061755626 49